<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyModule</string>
	<key>Description</key>
	<string>This generates a new Module using 🐍VIPER generator. It consists of the view controller, interactor, presenter, wireframe, and an interface file.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>New Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Interfaces</string>
			<key>Description</key>
			<string>The interfaces name</string>
			<key>Identifier</key>
			<string>interfacesName</string>
			<key>Name</key>
			<string>Interfaces Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Interactor</string>
			<key>Description</key>
			<string>The interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Wireframe</string>
			<key>Description</key>
			<string>The wireframe name</string>
			<key>Identifier</key>
			<string>wireframeName</string>
			<key>Name</key>
			<string>Wireframe Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Description</key>
			<string>What view controller class to subclass for the new module</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>viewControllerSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>7</string>
	<key>Summary</key>
	<string>This generates a new 🐍 VIPER module.</string>
</dict>
</plist>
